@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --img: url("/textbg.jpg");
}

.special-text {
  background-image: var(--img);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}
